<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Team Orion</title>

    <!-- This is a 3rd-party stylesheet to make available the font family to be used for this page ("Roboto"). -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">

    <!-- This 3rd-party stylesheet incorporates SVG icons from Font Awesome: http://fontawesome.com/ -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css" media="screen">

    <script src="index.js" charset="utf-8" defer></script>

  </head>

  <body>

    <header>
      <!-- The <i> tag below includes the lizard hand icon from Font Awesome.  Do not directly style this element. -->
      <a href="/"><h1 class="site-title">Team Orion</h1></a>

      <nav class="navbar">
        <ul class="navlist">
          <li class="navitem navlink"><a href="/">Home</a></li>
          <li class="navitem navlink"><a href="galaxies">Galaxies</a></li>
          <li class="navitem navlink"><a href="hostSystems">Host Systems</a></li>
          <li class="navitem navlink active"><a href="stars">Stars</a></li>
          <li class="navitem navlink"><a href="exoplanets">Exo Planets</a></li>
          <li class="navitem navlink"><a href="EPSRelation">Exo Planet Star Relationship</a></li>
        </ul>
      </nav>
    </header>

    <main class="home-body">
      {{!-- The Data from our Database --}}

      {{!-- Create a table --}}
      <table id="stars-table">

          {{!-- Header section --}}
          <thead>

              {{!-- For just the first row, we print each key of the row object as a header cell so we
              know what each column means when the page renders --}}
              <tr>
                  {{#each data.[0]}}
                  <th>
                      {{@key}}
                  </th>
                  {{/each}}
              </tr>
          </thead>

          {{!-- Body section --}}
          <tbody>

              {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
              {{#each data}}

              <tr>
                  <td>{{this.starID}}</td>
                  <td>{{this.starName}}</td>
                  <td>{{this.type}}</td>
                  <td>{{this.temperature}}</td>
                  <td>{{this.hostSystemName}}<td>

                  <td><button type="button" id="delete-item-button" onclick="deleteRow(this);"><i class="fas fa-minus"></i> <i class="fa fa-table" aria-hidden="true"></i></button></td>


              </tr>
              {{/each}}
          </tbody>


      </table>

      <form class="add-star-form" action="/add-star-form" method="POST">
        <div class = "add-value">
          <ul class = "add-value-list">
            <li>
              <p> Add Entry to Table</p>
            </li>
            <li>
              <div class="input-element">
                <label for="input-starName"></label>
                <input type="text" name ="input-starName" id="input-starName" placeholder="Star Name..." class = "starName">
              </div>
            </li>
            <li>
              <div class="input-element">
                <label for="input-starType"></label>
                <input type="text" name ="input-starType" id="input-starType" placeholder="Star type..." class = "starType">
              </div>
            </li>
            <li>
              <div class="input-element">
                <label for="input-starTemp"></label>
                <input type="text" name ="input-starTemp" id="input-starTemp" placeholder="Star temperature..." class = "starTemp">
              </div>
            </li>
            <li>
              <div class="input-element">
                <label for="input-hostSystemID">Select a Host System</label>
                <select type="select" name ="input-hostSystemID" id="input-hostSystemID" class = "starHSFK">
                  {{#each hostSystems}}
                  <option value="{{this.hostSystemID}}">{{this.hostSystemName}}
                  </option>
                  {{/each}}
                </select>
              </div>
            </li>
            <li>
              <div class="input-element">
                <input type="submit">
              </div>
            </li>
          </ul>
        </div>
      </form>


    </main>
